{{ range gets "/services/<%service%>/*" }}
    {{ $config := split (.Key) ":" }}
    {{ $url := split (index $config 1) "." }}

upstream {{ index $config 1 }} {
  server {{ .Value }};
}

server {
    listen 80;
    server_name {{ index $url 1 }}.<%demo_domain%>;
    server_name {{ index $url 1 }}.{{ index $url 2 }};

    access_log /var/log/nginx/access.log upstreamlog;

    location / {
        proxy_pass http://{{ index $config 1 }};
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

{{ end }}